

.landing-explore-product {
  
  flex: 1;                    /* takes up remaining space */
  display: flex;
  justify-content: center;    /* center content horizontally */
}

.image-gallery-thumbnail img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
.image-gallery-thumbnail img:hover {
  transform: scale(1.1);
}
#aboutus {
  scroll-margin-top: 80px; /* Match navbar height */
}
/* ===========================
   Responsive product grid only
   =========================== */
@media (max-width: 1024px) {
  .explore-product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
  }
  .explore-product-list-item {
    height: 350px;
  }
  .explore-product-list-item img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .explore-product-list {
    grid-template-columns: repeat(1, 1fr); /* 1 per row */
  }
  .explore-product-list-item {
    height: 100px;
  }
  .explore-product-list-item img {
    height: 80px;
  }
}