@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar{
position: fixed;
  top: 0;
  z-index: 1000;
  right:0 ;
  left:0;
  padding: 2px;
  padding-left:5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(239, 240, 241); 
  
}

.logo{
    width:80px;
     left:0;
}

.navbar-menu{
    padding: 5px;
    padding-right: 30px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    gap:40px;
    font-weight: bold;
}


.active{
    padding-bottom:2px ;
    border-bottom: 5px solid #49557e;
}
.navbar li{
    cursor:pointer;
   

}
.navbar ul{
  
    color: white !important; 

}